@{
    ViewBag.Title = "Thomer, Kevin Homework 7";
}
<h2>About Myself</h2>
<img src="../../img/wooper.jpg" alt="Wooper!" />
<div id="info">
    <section>
        <h3 class="nocenter">Education (Highschool + College, Graduate Year, degree, major and school)</h3>
        <ul>
            <li>In-progress, BSc., MIS, California State University, Long Beach</li>
            <li>2010, AA, Undeclared, Golden West College</li>
            <li>2007, HS Diploma, Pacifica High School GGUSD</li>
        </ul>
    </section>
    <section>
        <h3 class="nocenter">Working experience (Title, Company, and Years)</h3>
        <ol>
            <li>Systems Administrator, Grant Optometric Group, 4.5 years</li>
        </ol>
    </section>
    <section>
        <h3 class="nocenter">Expectation for this course (Anything you want me to cover in this class)</h3>
        <p>I'd like to learn more about HTML5, CSS3, and Javascript Libraries.</p>
    </section>
</div>