a {
    text-decoration: none;
}
a:hover {
    color: #f00;
    text-transform: uppercase;
    text-decoration: underline;
}
ul{
    padding-top: 0px;
    margin-top: 0px;
}
ol {
    padding-top: 0px;
    margin-top: 0px;
}
nav {
    margin: 2em;
}
nav > ul {
    list-style-type: none;
    margin-left: 0px;
    padding-left: 0px;
    text-align: right;
}
nav > ul > li {
    display: inline-block;
    margin-right: 20px;
}
hr {
    height: 8px;
    background-color: #00ff00;
}
footer {
    border-top: double 3px black;
    padding-top: 5px;
    text-align: center;
    margin: 0px;
    font-size: 11px;
}
footer span {
    display: inline;
    padding-right: 20px;
}
address {
    display: inline;
    padding: 0px;
    margin: 0px;
}
h2 {
    color: blue;
    text-align: center;
}
h3 {
    text-align: center;
}
form {
    margin-bottom: 20px;
}
img {
    height: 200px;
    width: 200px;
    float: right;
}
#wrapper {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
}
#title {
    width: 100%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
#border {
    border: outset 3px green;
    margin-bottom: 20px;
    padding: 10px;
}
#border2 {
    border: outset 3px green;
    margin-bottom: 20px;
    padding: 10px;
}
#info {
    margin-top: 20px;
    width: 380px;
}
#promo {
    width: 55px;
}
.italics {
    font-style: italic;
}
.centerer {
    text-align: center;
}
.nocenter {
    text-align: left;
    color: purple;
}
.centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fancy {
    font-weight: bold;
    font-style: italic;
    text-decoration: underline;
}